<h3>Introduction to Geospatial Data with R</h3>
<p>June 10, 2024 10:00 am - 11:00 am MT (12:00pm - 1:00pm ET)</p>
<p>We will use this one hour session to check in about set up and make sure everyone is able to open the correct software on their machine. It will also include an introduction to the instructors and helpers and an icebreaker activity. </p>
<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>June 11, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:30am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>1:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>June 12, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Analysis - Introduction</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2.html">R for Reproducible Analysis - Data Frames</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>1:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>June 18, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2.html">R for Reproducible Analysis - Visualization</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data.html">R for Reproducible Analysis - Writing Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>1:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>June 20, 2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-plyr.html">R for Reproducible Analysis - Data Wrangling</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00am</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30am</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown.html">R for Reproducible Analysis - Reporting</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>1:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
